<div class="container" >
<div class="row ">
	<div class="col-lg-9 " >
		<div class="row">
		 <div class="col-lg-12">
		<h4 class="panel-heading">Admin</h4>
		<div class="row">
	<div class="col-lg-6" >

  <div class="form-group">
		<label>Title</label>
		Mr
</div>
<div class="form-group">
		<label>Name:</label>
		{{ user.name }}
		</div>

	</div>		

	<div class="col-lg-6" >

  <div class="form-group">
		<label>Company:</label>
		{{ user.company }}
		</div>
		  <div class="form-group">
		<label>Address 1:</label>
		{{ user.address1 }}
		</div>
		  <div class="form-group">
		<label>Address 2:</label>
		{{ user.address2 }}
		</div>
		  <div class="form-group">
		<label>Address 3:</label>
		{{ user.address3 }}
		</div>
		  <div class="form-group">
		<label>Town/City:</label>
		{{ user.city }}
		</div>
		  <div class="form-group">
		<label>Postcode:</label>
		{{ user.postcode }}
		</div>

	</div>	
		
	</div>
	<hr />
	<h4 class="panel-heading">Access Details</h4>
		<div class="row">
	<div class="col-lg-12" >
	<form>
  <div class="form-group">
		<label>Username:</label>
		{{ user.username }}
		</div>
		  <div class="form-group">
		<label>Password:</label>
		<input type="text" name="password" id="password" />	
	    </div>
	    <div class="form-group">
	    <button class="btn btn-primary btn-sm" ng-click="resetPassword()">Reset</button>
	    </div>
	    </form>
	</div>		

	</div>	
	</div>
	</div>
	</div>
	<div class="col-lg-3">
		<div class="row">
		<hot-hot-list></hot-hot-list>
		</div>
		<div class="row">
		<news></news>
		</div>
	</div>
</div>
</div>