<div class="container" >
<div class="row">
	<div class="col-lg-9" >

	

					<table width="100%" class="table table-striped">
			<thead class="thead-inverse primary-color-dark white-text">
			<tr>
				<th><span class="fa fa-tachometer" aria-hidden="true"></span> Reports</th>
			</tr>
			</thead>
			<tr >
				<td><span class="fa fa-bar-chart" aria-hidden="true"></span> Title Name</td>

			</tr>
			<tr >
				<td><span class="fa fa-bar-chart" aria-hidden="true"></span> Title Name</td>

			</tr>
			<tr >
				<td><span class="fa fa-bar-chart" aria-hidden="true"></span> Title Name</td>

			</tr>
			<tr >
				<td><span class="fa fa-bar-chart" aria-hidden="true"></span> Title Name</td>

			</tr>
			<tr >
				<td><span class="fa fa-bar-chart" aria-hidden="true"></span> Title Name</td>

			</tr>
		</table>
			

		
		
	</div>
	<div class="col-lg-3">
		<div class="row">
		<hot-hot-list></hot-hot-list>
		</div>
		<div class="row">
		<news></news>
		</div>
	</div>
</div>
</div>